.slot-free{
background-color: rgba(87, 245, 87, 0.74);
transition: .3s ease;
overflow-wrap: break-word;
cursor:pointer;
&:hover{
    background: darken(rgba(87, 245, 87, 0.74), 20%);
}
}

.slot-taken{
background-color: rgba(255, 95, 95, 0.74);
transition: .3s ease;
overflow-wrap: break-word;
cursor:pointer;
&:hover{
    background: darken( rgba(255, 95, 95, 0.74), 20%);
}
}